export AWS_PROFILE=...<put your aws cli configured profile name>...
export TF_VAR_subnet_id=...<put the id of the subnet of your VPC>...
export TF_VAR_vpc_id=...<put the id of your VPC>...
export TF_VAR_timescaledb_server_postgres_password='...<put your postgres password here>...'
